{% load static %}
{% load django_bootstrap5 %}
{% load pygmentize %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Cost_Accounting</title>
        <link href=https://github.com/nicolas-cusan/destyle.css rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/i18n/jquery-ui-i18n.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1><a href="{% url 'costs:logout' %}">Cost_Accounting</a></h1>
                <div class="container">
                    
                    <div class="row">
                        {% if request.user.is_authenticated %}

                            <div class="col">
                                <a href="{% url 'costs:warehousing' %}">入庫管理システム</a>
                            </div>
                            <div class="col">
                                <a href="{% url 'costs:earning' %}">販売管理システム</a>
                            </div>

                            <div class="col">
                                <a href="{% url 'costs:cost_accounting' %}">原価管理システム</a>
                            </div>
                            <div class="col">
                                <a href="{% url 'costs:profit' %}">利益計算システム</a>
                            </div>

                            <div class="col">
                                <a href="{% url 'costs:logout' %}">ログアウト</a>
                            </div>

                        {% endif %}
                    </div>

                </div>
            </div>
        </header>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% block js %}{% endblock %}
    </body>
</html>